<h4>New request service for {{service_name}} has been made. Here are the details:</h4>
<p> </p>
<table>
  <tr>
    <td>Wallet Address</td>
    <td>:</td>
    <td>{{public_address}}</td>
  </tr>
  <tr>
    <td>Staking Amount</td>
    <td>:</td>
    <td>{{amount}} {{currency}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>:</td>
    <td>{{country}}</td>
  </tr>
  <tr>
    <td>State/Region</td>
    <td>:</td>
    <td>{{state}}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>:</td>
    <td>{{city}}</td>
  </tr>
</table>
<p> </p>
<p>Please inform the nearest lab available.</p>