<p>You have been assigned to provide verification for the following new lab register - {{lab_name}}. Here are the details:</p>
<p> </p>
<p>Logo: {{profile_image}}</p>
<p>Email: {{email}}</p>
<p>Phone No.: {{phone_number}}</p>
<p>Lab Name: {{lab_name}}</p>
<p>Country: {{country}}</p>
<p>State: {{state}}</p>
<p>City: {{city}}</p>
<p>Address: {{address}}</p>
<p> </p>
<p>Certification.</p>
{{#each certifications}}
<p>{{@index}}. Title: {{title}}</p>
<p>&ensp&nbsp Issuer: {{issuer}}</p>
<p>&ensp&nbsp Month: {{month}}</p>
<p>&ensp&nbsp Year: {{year}}</p>
<p>&ensp&nbsp Description: {{description}}</p>
<p>&ensp&nbsp Supporting Document: {{supporting_document}}</p>
{{else}}
<p>No Certificate</p>
{{/each}}
<p></p>
<p>Services.</p>
{{#each services}}
<p>{{@index}}. Service Category: {{category}}</p>
<p>&ensp&nbsp Service Name: {{name}}</p>
<p>&ensp&nbsp Price: {{price}}</p>
<p>&ensp&nbsp QC Price: {{qc_price}}</p>
<p>&ensp&nbsp Short Description: {{description}}</p>
<p>&ensp&nbsp Supporting Document: {{supporting_document}}</p>
<p>&ensp&nbsp Expected Duration: {{#with expected_duration}} {{duration}} {{duration_type}} {{/with}}</p>
<p>&ensp&nbsp Long Description: {{description}}</p>
<p>&ensp&nbsp Test Result Sample: {{test_result_sample}}</p>
{{else}}
<p>No Service</p>
{{/each}}