<p>New request service for {{service_name}} has been made. Here are the details:</p>
<p> </p>
<p>Wallet address: {{public_address}}</p>
<p>Staking amount: {{amount}} {{currency}}</p>
<p>Country: {{country}}</p>
<p>State/Province: {{state}}</p>
<p>City: {{city}}</p>
<p> </p>
<p>Please inform the nearest lab available.</p>