<p>You’ve ganined a new request for {{service_name}}. Here’s the details,</p>
<p> </p>
<p>Public address: {{public_address}}</p>
<p>Country: {{country}}</p>
<p>State/Province:{{state}}</p>
<p>City: {{city}}</p>
<p>Amount: {{amount}} {{currency}}</p>
{{!-- <p>
    <a href="{{ url }}">Confirm</a>
</p> --}}

{{!-- <p>If you did not request this email you can safely ignore it.</p> --}}
